{{#with product}}
<a href="/view/{{_id}}" class="product-card text-reset">
    <img class="object-fit-contain p-1" src="{{first imagePaths}}" alt="img">
    <div class="w-11rem p-2">
        <div class="fs-6 max-line-1">{{title}}</div>
        <div class="d-flex align-items-center sec-ml-1">
            {{#if offerPrice}}
            <div class="strike-price">₹{{price}}</div>
            <div class="title">₹{{offerPrice}}</div>
            {{else}}
            <div class="title">₹{{price}}</div>
            {{/if}}
        </div>
    </div>
</a>
{{/with}}