{{> navbar}}

{{> account-sidebar}}

<div class="container col-md-9 sm me-0">
    <div id="orders">
        <h3 class="text-primary my-1">Orders</h3>
        {{#if orders}}
        <div class="list">
            {{#each orders}}
            <a class="text-reset" href="/orders/{{this._id}}">
                <div class="list-item position-relative border-primary">
                    <div class="content d-flex pb-1">
                        {{#with this.productDetails}}
                        <div class="leading">
                            <img src="{{first imagePaths}}" alt="img">
                        </div>
                        <div class="datas w-100">
                            <h4 class="title max-line-2">{{title}}</h4>
                            {{/with}}
                            <div class="fs-5">₹{{formatNumber this.price.price}}</div>
                        </div>
                        <div class="p-1 bg-light rounded-4 position-absolute br-1">
                            {{#with (last this.status)}}
                            <div
                                class="{{#or (eq status 'confirmed') (eq status 'shipped')}}status-view-success{{else or (eq status 'cancelled') (eq status 'return')}}status-view-danger{{else}}status-view-primary{{/or}} text-capitalize">
                                {{status}}</div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        {{else}}
        <div class="w-100 text-center text-primary fs-5 fw-bold mb-5 mt-3">You didn't ordered anything yet!</div>
        {{/if}}
    </div>
</div>

<script src="/javascript/form.js"></script>