{{> admin-navbar}}

<div class="fluid-container d-flex">
    {{> sidebar}}

    <div class="container">
        <div class="top-bar d-flex justify-content-between align-items-center flex-wrap">
            <div class="title col">
                <h1 class="text-primary">Order Details</h1>
            </div>
        </div>
        {{#with order}}
        <div class="mt-3">
            <div class="list" id="ProductData">
                <div class="list-item position-relative">
                    <div class="content d-flex pb-1">
                        {{#with productData}}
                        <div class="leading">
                            <a href="/admin/products/edit/{{_id}}">
                                <img src="{{first imagePaths}}" alt="img">
                            </a>
                        </div>
                        <div class="datas w-100">
                            <h4 class="title max-line-1">{{title}}</h4>
                            {{/with}}
                            <div class="price-details pt-1 pb-2 flex-wrap">
                                <div class="d-flex align-items-center">
                                    <div class="fs-4 fw-bold">₹{{formatNumber price.price}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="box-primary text-capitalize rounded-3 position-absolute br-2">Quantity: {{quantity}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4" id="ShippingAddress">
                <h3 class="text-primary fs-4">Delivery Address</h3>
                <div class="card-primary-light rounded-3 p-2 pb-4 my-3">
                    {{#with address}}
                    <div class="fs-1-15rem fw-bold">{{name}}</div>
                    <div>
                        {{address}}, {{locality}}, {{landmark}},
                        {{state}}, {{pincode}}, {{mobile}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <div class="mt-4" id="PaymentMethod">
                <h3 class="text-primary fs-4">Payment Method</h3>
                <div class="card-primary-light text-center rounded-pill p-2 my-3 col-7 col-sm-6 col-md-4 col-lg-3">
                    <div class="text-primary fs-1-15rem fw-bold">
                        {{#if (eq paymentMethod 'cod')}}
                        Cash on Delivery
                        {{else}}
                        Online
                        {{/if}}</div>
                </div>
            </div>

            <div class="mt-4" id="Status">
                <h3 class="text-primary fs-4">Status</h3>
                <div class="card-primary-light px-3 py-1 my-3 col-12 col-md-6">
                    {{#each status}}
                    <div class="d-flex align-items-center my-3">
                        <div class="text-primary fs-1-15rem fw-bold text-capitalize">
                            {{isEqual this.status 'confirmed' 'order'}} {{this.status}}</div>
                        <div class="ms-2">at {{formatDate this.date 'MMMM D, YYYY'}}</div>
                    </div>
                    {{/each}}
                </div>
                <div class="action-btn d-flex flex-wrap">
                    <button onclick="changeOrderStatus('confirmed', this)" id="statusCofirmed"
                        class="btn btn{{#lt status.length 1}}-outline{{/lt}}-primary fw-bold me-2 my-1 py-1 col-12 col-md">CONFIRMED</button>
                    <button onclick="changeOrderStatus('shipped', this)" id="statusShipped"
                        class="btn btn{{#lt status.length 2}}-outline{{/lt}}-primary fw-bold me-2 my-1 py-1 col-12 col-md">SHIPPED</button>
                    <button onclick="changeOrderStatus('delivered', this)" id="statusDelivered"
                        class="btn btn{{#lt status.length 3}}-outline{{/lt}}-primary fw-bold me-2 my-1 py-1 col-12 col-md">DELIVERED</button>
                </div>
            </div>

            <div class="mt-4" id="UserData">
                <h3 class="text-primary fs-4">Ordered By</h3>
                <div class="list">
                    <div class="list-item position-relative">
                        <div class="content d-flex pb-1">
                            {{#with userInfo}}
                            <div class="datas w-100">
                                <div class="text-primary fs-7">User id: {{_id}}</div>
                                <h4 class="title max-line-1">{{name}}</h4>
                                <div class="fs-5">{{email}}</div>
                                <div class="fs-5">{{mobile}}</div>
                            </div>
                            <div class="position-absolute tr-2">
                                <button class="btn btn-danger">Block</button>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</div>

<script src="/javascript/handle-orders.js"></script>