<div class="searchbox {{class}}">
    <img src="/images/icons/search.svg" alt="" srcset="">
    <form method="{{#if method}}{{method}}{{else}}post{{/if}}" action="{{action}}">
        <input class="w-100" type="search" name="search" id="search" value="{{searchQuery}}"
            placeholder="Search {{for}}">
    </form>
</div>