{{> navbar}}

<div class="mid-container p-1">
    {{#with product}}
    <div class="product-view">
        {{!-- Product Images --}}
        <div class="product-image col-12 col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    {{#each imagePaths}}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}"
                        {{#unless @index}}class="active" aria-current="true" {{/unless}}
                        aria-label="Slide {{@index}}"></button>
                    {{/each}}
                </div>
                <div class="carousel-inner ratio ratio-1x1 rounded-4">
                    {{#each imagePaths}}
                    <div class="carousel-item {{#unless @index}}active{{/unless}} p-2">
                        <img src="{{this}}" class="d-block w-100" alt="product image">
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control carousel-control-prev filter-contrast" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control carousel-control-next filter-contrast" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="md-ps-3 col-12 col-md-8">
            <div class="text-primary fs-7">
                <a class="text-primary fs-7" href="/">Home</a>
                <span>›</span>
                <a class="text-primary fs-7" href="/category/{{categoryId}}">{{category.title}}</a>
                <span>›</span>
                <a class="text-primary fs-7" href="#">Product Overview</a>
            </div>
            <h2 class="title">{{title}}</h2>

            <div class="d-flex align-items-center">
                {{> star-rating-box}}
                <div class="ms-3 text-black-50 fw-bold">{{totalReviews}} Reviews</div>
            </div>

            <div class="price-details">
                {{#if offerPrice}}
                <div class="text-black-50 text-decoration-line-through fs-5">₹{{price}}</div>
                <div class="fs-2 fw-bold mx-3">₹{{offerPrice}}</div>
                <div class="outline-box-primary fw-bold"> {{getOfferPecentage price offerPrice}}% OFF </div>
                {{else}}
                <div class="fs-2 fw-bold mx-3">₹{{price}}</div>
                {{/if}}
            </div>

            {{#if (eq status 'active')}}
            <div class="action-btn d-flex flex-wrap">
                <div class="btn btn-outline-primary fw-bold me-2 my-1 py-3 col-12 col-md">ADD TO CART</div>
                <div class="btn btn-primary fw-bold me-2 my-1 py-3 col-12 col-md">BUY NOW</div>
            </div>
            {{else if (eq status 'sold out')}}
            <span class="fs-4 fw-bold text-danger">This product is currently sold out</span>
            {{else}}
            <span class="fs-4 fw-bold text-danger">This product is currently unvailable</span>
            {{/if}}
            <div class="my-4">
                <h3>Description</h3>
                <p class="fs-5">{{description}}</p>
            </div>
            <div class="reviews">
                <h3>Reviews</h3>
                <div class="list my-3">
                    {{#each reviews}}
                    <div class="review-card">
                        <div class="d-flex" id="star-rating">
                            {{#repeat this.starRating}}
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.2895 0.0307312L14.4879 6.91793L22.0264 7.83158L16.4647 13.0018L17.9253 20.4536L11.2895 16.7618L4.6537 20.4536L6.11428 13.0018L0.552547 7.83158L8.09104 6.91793L11.2895 0.0307312Z"
                                    fill="#6F43BF" />
                            </svg>
                            {{/repeat}}
                        </div>
                        <div class="my-3">
                            <div class="fs-5 fw-medium">{{this.user.name}}</div>
                            <div class="mt-2"> {{this.review}} </div>
                        </div>
                        <div class="fs-7 text-secondary">Posted on {{formatDate this.createdAt 'MMMM D, YYYY'}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <div class="section-list-h my-3">
        <h3 class="subtitle fs-3"> You might also like </h3>
        <div class="list-h mt-3">
            {{#each relatedProducts}}
            {{> basic-product-card product=this}}
            {{/each}}
        </div>
    </div>
</div>