{{> navbar}}

<div class="mid-container p-1">
    {{#with product}}
    <div class="product-view">
        {{!-- Product Images --}}
        <div id="popup-image">
            <div id="closePopupBtn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" width="30" height="30">
                    <path
                        d="M 19 15 C 17.977 15 16.951875 15.390875 16.171875 16.171875 C 14.609875 17.733875 14.609875 20.266125 16.171875 21.828125 L 30.34375 36 L 16.171875 50.171875 C 14.609875 51.733875 14.609875 54.266125 16.171875 55.828125 C 16.951875 56.608125 17.977 57 19 57 C 20.023 57 21.048125 56.609125 21.828125 55.828125 L 36 41.65625 L 50.171875 55.828125 C 51.731875 57.390125 54.267125 57.390125 55.828125 55.828125 C 57.391125 54.265125 57.391125 51.734875 55.828125 50.171875 L 41.65625 36 L 55.828125 21.828125 C 57.390125 20.266125 57.390125 17.733875 55.828125 16.171875 C 54.268125 14.610875 51.731875 14.609875 50.171875 16.171875 L 36 30.34375 L 21.828125 16.171875 C 21.048125 15.391875 20.023 15 19 15 z" />
                </svg>
            </div>
            <div class="product-image col-12 col-md-4">
                <div id="popupCarousel" class="carousel slide h-100">
                    <div class="carousel-indicators">
                        {{#each imagePaths}}
                        <button type="button" data-bs-target="#popupCarousel" data-bs-slide-to="{{@index}}" {{#unless
                            @index}}class="active" aria-current="true" {{/unless}}
                            aria-label="Slide {{@index}}"></button>
                        {{/each}}
                    </div>
                    <div class="carousel-inner ratio ratio-1x1 rounded-4 h-100" id="popup-image-view">
                        {{#each imagePaths}}
                        <div class="carousel-item {{#unless @index}}active{{/unless}} p-2">
                            <img src="{{this}}" class="d-block w-100 h-100 object-fit-contain" alt="product image">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control carousel-control-prev filter-contrast" type="button"
                        data-bs-target="#popupCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control carousel-control-next filter-contrast" type="button"
                        data-bs-target="#popupCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="product-image position-relative col-12 col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    {{#each imagePaths}}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}"
                        {{#unless @index}}class="active" aria-current="true" {{/unless}}
                        aria-label="Slide {{@index}}"></button>
                    {{/each}}
                </div>
                <div class="carousel-inner ratio ratio-1x1 rounded-4" id="product-images">
                    {{#each imagePaths}}
                    <div class="carousel-item {{#unless @index}}active{{/unless}} p-2">
                        <img src="{{this}}" class="d-block w-100 h-100 object-fit-contain" alt="product image">
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control carousel-control-prev filter-contrast" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control carousel-control-next filter-contrast" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="position-absolute icon-btn p-1 tr-1 z-1" id="wishlistBtn{{_id}}"
                onclick="{{#if isWishlisted}}removeFromWishlist{{else}}addToWishlist{{/if}}('{{_id}}')">
                <svg width="30" height="30" viewBox="0 0 30 27" fill="{{#if isWishlisted}}#6F43BF{{else}}none{{/if}}"
                    id="wishlistIcon{{_id}}" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M25.7809 5.34809C25.1424 4.70935 24.3844 4.20265 23.5501 3.85695C22.7157 3.51125 21.8215 3.33331 20.9184 3.33331C20.0153 3.33331 19.121 3.51125 18.2867 3.85695C17.4523 4.20265 16.6943 4.70935 16.0559 5.34809L14.7309 6.67309L13.4059 5.34809C12.1162 4.05848 10.3672 3.33398 8.54336 3.33398C6.71957 3.33398 4.97048 4.05848 3.68086 5.34809C2.39125 6.63771 1.66675 8.3868 1.66675 10.2106C1.66675 12.0344 2.39125 13.7835 3.68086 15.0731L5.00586 16.3981L14.7309 26.1231L24.4559 16.3981L25.7809 15.0731C26.4196 14.4346 26.9263 13.6766 27.272 12.8423C27.6177 12.008 27.7956 11.1137 27.7956 10.2106C27.7956 9.30748 27.6177 8.41322 27.272 7.5789C26.9263 6.74458 26.4196 5.98654 25.7809 5.34809Z"
                        stroke="#6F43BF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>

        {{!-- Product Details --}}
        <div class="md-ps-3 col-12 col-md-8">
            <div class="text-primary fs-7">
                <a class="text-primary fs-7" href="/">Home</a>
                <span>›</span>
                <a class="text-primary fs-7" href="/category/{{categoryId}}">{{category.title}}</a>
                <span>›</span>
                <a class="text-primary fs-7" href="#">Product Overview</a>
            </div>
            <h2 class="title">{{title}}</h2>

            <div class="d-flex align-items-center">
                {{#if reviews}}
                {{> star-rating-box class='me-3'}}
                {{/if}}
                <div class="text-black-50 fw-bold">{{totalReviews}} Reviews</div>
            </div>

            <div class="price-details">
                {{#if offerPrice}}
                <div class="text-black-50 text-decoration-line-through fs-5">₹{{price}}</div>
                <div class="fs-2 fw-bold mx-3">₹{{offerPrice}}</div>
                <div class="outline-box-primary fw-bold"> {{getOfferPecentage price offerPrice}}% OFF </div>
                {{else}}
                <div class="fs-2 fw-bold mx-3">₹{{price}}</div>
                {{/if}}
            </div>

            {{#or (eq status 'sold out') (eq quantity 0)}}
            <span class="fs-4 fw-bold text-danger">This product is currently sold out</span>

            {{else if (eq status 'active')}}
            <div class="action-btn d-flex flex-wrap">
                <button class="btn btn-outline-primary fw-bold me-2 my-1 py-3 col-12 col-md"
                    onclick="addToCart('{{_id}}')">
                    ADD TO CART
                </button>
                <button class="btn btn-primary fw-bold me-2 my-1 py-3 col-12 col-md" onclick="buyNow('{{_id}}')">
                    BUY NOW
                </button>
            </div>

            {{#lt quantity 50}}
            <div class="fs-5 fw-bold text-danger mt-2">Only {{quantity}} left, Hurry up!</div>
            {{/lt}}

            {{else}}
            <span class="fs-4 fw-bold text-danger">This product is currently unvailable</span>
            {{/or}}
            <div class="my-4">
                <h3>Description</h3>
                <p class="fs-5">{{description}}</p>
            </div>
            <div class="reviews">
                <h3>Reviews</h3>
                <div class="list my-3">
                    {{#if reviews}}
                    {{#each reviews}}
                    <div class="review-card">
                        <div class="d-flex" id="star-rating">
                            {{#repeat this.starRating}}
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.2895 0.0307312L14.4879 6.91793L22.0264 7.83158L16.4647 13.0018L17.9253 20.4536L11.2895 16.7618L4.6537 20.4536L6.11428 13.0018L0.552547 7.83158L8.09104 6.91793L11.2895 0.0307312Z"
                                    fill="#6F43BF" />
                            </svg>
                            {{/repeat}}
                        </div>
                        <div class="my-3">
                            <div class="fs-5 fw-medium">{{this.user.name}}</div>
                            <div class="mt-2"> {{this.review}} </div>
                        </div>
                        <div class="fs-7 text-secondary">Posted on {{formatDate this.createdAt 'MMMM D, YYYY'}}</div>
                    </div>
                    {{/each}}
                    {{else}}
                    <span class="text-primary">No reviews yet for this product</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <div class="section-list-h my-3">
        <h3 class="subtitle fs-3"> You might also like </h3>
        <div class="list-h mt-3">
            {{#each relatedProducts}}
            {{> basic-product-card product=this}}
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascript/product.js"></script>